<div style="text-align:center">
    <h2>{{header}}</h2>

    <pre>
        Hi {{name}},

        We have received a request to reset your password.

        Click on the button below to reset your password. If you ignore this message, your password won’t be changed.
    </pre>

    <button style="padding: 15px; background-color: chocolate; border:none">
        <a style="text-decoration: none; color:white" href="http://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
            Reset Password
        </a>
    </button>

</div>