<div style="text-align:center">
    <h2>You're all Sorted!</h2>

    <pre>
        Hello {{customer.first_name}},

        You've got great taste! We're so glad you chose us.

        Your order has been received and is currently being processed by our crew.


    </pre>

    <div>
        <div style="width: 100%; background-color: #888">
            <div style="width:25%; background-color: green"></div>
        </div>
        <div>
            <p> <span style="color: green">Ordered: </span> {{order.date|date:"M d, Y"}}</p>
        </div>
    </div>

    <div style="padding: 15px; background-color: #333">
        <div style="float:left">
            <h6>Order Summary</h6>
            <p><span style="font-weight: bold; margin-right: 10px">Order No</span> {{order.no}}</p> 
            <p><span style="font-weight: bold; margin-right: 10px">Order Total</span> {{order.total}}</p> 
            <p><span style="font-weight: bold; margin-right: 10px">Payment</span> {{order.payment}}</p> 
        </div>

        <div style="float:right">
            <h6>SHIPPING ADDRESS</h6>
            <p><span style="font-weight: bold; margin-right: 10px">{{customer.full_name}}</span></p> 
            <p>{{order.address}}</p> 
        </div>
    </div>

    <div>
        <pre>
            We'll let you know when your order is on its way to you so you can really get excited about it.

            We’re doing everything we can to ensure you get your order safely by:

            Sanitizing our facilities
            Monitoring hygiene
            Providing contactless payment options
            Until then, stay safe at home while we deliver to you.
        </pre>
    </div>
</div>